*{
  margin: 0;
  padding: 0;
  border: none;


}
body {
  background: #F7F7F8;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  /* padding: 2vh 2vw; 2% of viewport height and width */
  overflow-x: hidden;
  box-sizing: border-box;
}