#heading {
    border-radius: 25px;
    margin-top: 1rem;
}
#main{
    border-radius: 25px;
}

.options{
    border: 1px solid pink;
}
#Buttons {
    background: transparent; /* Light green */
    border: none; 
    color: black;
    border-radius: 5px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding for better click area */
    transition: background 0.3s; /* Smooth transition */
}
button[type="button"] {
    background: transparent; /* Light green */
    /* border: none;  */
    color: black;
    border-radius: 5px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding for better click area */
    transition: background 0.3s; /* Smooth transition */
}
