:root {
    --button-bg-light: transparent; /* Light green for light mode */
    --button-bg-dark: transparent; /* Light orange for dark mode */
    --button-text-light: black; /* Text color for light mode */
    --button-text-dark: white; /* Text color for dark mode */
}
#heading {
    border-radius: 25px;
    margin-top: 1rem;
}
#main{
    border-radius: 25px;
}

.options{
    border: 1px solid pink;
}
